/***
layout/article.css
grid system of article page
***/

/*
aim for article page only
*/

@import "../theme/dist";

.page-node-type-article{

  /*
  placing the page title
  */
  .block-page-title-block{
    height: 70vh;
    width: 100vw; /*pattern bgc*/

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;

    h1{
      // slanted edge here
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
  }

  .node{
    padding-left: $medium;
    padding-right: $small;

    .article-side{
      margin-bottom: $medium;
    }

    .js-slick-single-item,
    .article-content{
      margin-bottom: $medium*2;
    }

    .field--name-field-artikel-voetnoot{
      max-width: 1200px;
      margin: 0 auto $medium*2 auto;

      padding-left: $small;
      padding-right: $small;

      text-align: center;
    }
  }
}

/***
media queries
***/
@media screen and (min-width: 1024px) {

  .page-node-type-article{
    /*
    smaller margin-bottom on bigger screens
    */
    .node{
      /**/
      .article-detail{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: $max;
        margin: 0 auto;

        .article-side{
          width: 25%;
          margin-right: $small;
        }

        .article-content{
          width: 75%;
        }
      }

      .js-slick-single-item,
      .article-content{
        margin-bottom: $medium;
      }

      .article-side{
        margin-bottom: 0;
      }
    }
  }
}