/***
layout/front.css
grid system of article page
***/

/*
aim for article page only
*/

@import "../theme/dist";

.page-node-type-article{

  /*
  placing the page title
  */
  .block-page-title-block{
    height: 80vh;
    width: 100vw; /*pattern bgc*/

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    align-items: center;

    h1{
      // slanted edge here
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
  }

  .node{
    padding-left: $medium;
    padding-right: $small;

    .field--name-field-artikel-kantlijn{
      margin-bottom: $medium;
    }

    .js-slick-single-item,
    .field--name-field-artikel-tekst,
    .field--name-field-artikel-contact{
      margin-bottom: $medium*2;
    }

    .field--name-field-artikel-voetnoot{
      padding-left: $small;
      padding-right: $small;
      margin-bottom: $medium*2
    }

  }
}

/***
media queries
***/
@media screen and (min-width: 1024px) {

  .page-node-type-article{
    /*
    smaller margin-bottom on bigger screens
    */
    .node{
      .field--name-field-artikel-kantlijn{
        margin-bottom: $medium / 2;
      }

      .js-slick-single-item,
      .field--name-field-artikel-voetnoot,
      .field--name-field-artikel-tekst,
      .field--name-field-artikel-contact{
        margin-bottom: $medium;
      }
    }
  }
}