/***
layout/front.css
grid system of front page
***/

@import "../theme/colors";
@import "../theme/dist";

.page-node-type-titelpagina{

  /*
  header always on top
  */
  .block-system-branding-block{
    /*
    css in header.css (dry)
    */
  }

  /*
  hamburger always on top, right
  css in header.css
  */
  .field--name-field-linkblok-link{
    /*
    css in header.css (dry)
    */
  }

  /*
  main content of page
  100% width and height on front
  */
  .layout-content{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    justify-content: center;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    width: 100vw;
    height: 100vh;

    padding-left: $medium;
    padding-top: $small;
  }

  /*
  push links to bottom of page
  */
  .field--name-field-titelpagina-link{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; //element takes whole width of screen!
    z-index: 99999;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /*
    links (2) are each 50% wide
    */
    .field__item{
      width: 50%;
    }
  }
}