/***
layout/front.css
grid system of header
***/

@import "../theme/dist";

/*
logo always on top
css in header.css
*/
.block-system-branding-block{
  position: absolute;
  width: 6.4rem;
  height: auto;
  left: $medium;
  top: $small;
  z-index: 99999;
}

/*
hamburger always on top, right
*/
.field--name-field-linkblok-link{
  position: absolute;
  width: 1.4rem;
  height: auto;
  right: $small;
  top: $small;
  z-index: 999999;
}
