/***
layout/slider.css
grid system of slider with 3 images
***/

@import '../theme/dist';
/*
aim for slider with 3 images
*/
r

.js-slick-single-item{

  img{
    width: 100%;
    height: auto;
    /*
    image is bigger, so smaller margin-bottom
    */
    margin-bottom: $small/2;
  }
}