/***
theme/_fonts.css
building our color palette
***/

$sulu: #a5ed8e;
$sulu-transparent: rgba(165,237,142,0.75);
$white: #ffffff;
$alabaster: #f9f9f9;
$emperor: #777777;
$black: #101010;
$concrete: #f2f2f2;