/***
state/buttons.css
styling of buttons on hover/active
***/
/*
dots used on projectpage
on slider with 3 images
*/
/***
theme/_fonts.css
building our color palette
***/
/*
Sweep To Right
*/
.hvr-sweep-to-right {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white; }

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/*
Sweep To Left
*/
.hvr-sweep-to-left {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white; }

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/***
state/_links.css
default hover/active styling
***/
/***
theme/_fonts.css
building our color palette
***/
.active-hover, .slick-active button, .slick-dots button:hover {
  font-weight: 500;
  text-decoration: underline;
  color: #777777; }

/*
dots on slider of project page
active styling (other color + underlined)
*/
/*
styling of overlay button
active and hover state
*/
.view-projecten .views-field-title a:hover,
.view-realisaties .views-field-title a:hover {
  color: #14376b;
  background-color: rgba(255, 255, 255, 0.5);
  /*
  css3 animation on hover
  css of hover in state-folder
  */ }
.view-projecten .views-row:hover img,
.view-realisaties .views-row:hover img {
  opacity: 1; }
.view-projecten .views-row:hover .views-field-title a,
.view-realisaties .views-row:hover .views-field-title a {
  visibility: visible; }

/*
styling of buttons on projectpagina
active and hover state
*/
.field--name-field-project-links .field__item:hover {
  background-color: #a5ed8e; }

/*# sourceMappingURL=buttons.css.map */
