/***
state/buttons.css
styling of buttons on hover/active
***/

/*
dots used on projectpage
on slider with 3 images
*/

@import "../theme/colors";
@import "animations";
@import "links";

/*
dots on slider of project page
active styling (other color + underlined)
*/
.slick-active{
  button{
    @extend .active-hover;
  }
}

.slick-dots{
  button:hover{
    @extend .active-hover;
  }
}

/*
styling of overlay button
active and hover state
*/
.view-projecten,
.view-realisaties{
  .views-field-title{
    a:hover{

      color: $chathamsblue;
      background-color: rgba(255,255,255,0.5);
      
      /*
      css3 animation on hover
      css of hover in state-folder
      */
    }
  }

  .views-row:hover{
    img{
      opacity: 1;
    }

    .views-field-title{
      a{
        visibility: visible;
      }
    }
  }
}

/*
styling of buttons on projectpagina
active and hover state
*/
.field--name-field-project-links{
  .field__item:hover{
    background-color: $sulu;
  }
}