/***
components/button.css
styling of buttons
***/

@import '../theme/colors';
@import "../theme/dist";

/*
styling of buttons on projectpagina
*/
.field--name-field-project-links{
  div{
    background-color: $concrete;
    display: inline;
    padding: $small/2;
    margin-right: $small;

    /*
    css3 animation on hover
    hover in state
    */
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    a{
      color: $black;
      font-size: 1em;
      /*
      bold buttons
      */
      font-weight: 500;
    }
  }
}

/*
dots used on projectpage
on slider with 3 images
*/
.slick-dots{
  text-align: center;
  li{
    display: inline;
    margin: 0 $small/2;
  }
}

@media screen and (min-width: 1024px) {
  .field--name-field-project-links{
    div{
      padding: $small/3;
      margin-right: $small/2;

    }
  }

  /*
dots used on projectpage
on slider with 3 images
*/
  .slick-dots{
    text-align: center;
    li{
      display: inline;
      margin: 0 $small/4;
    }
  }
}