/***
components/navfoot.css
styling of navigation in footer
only used on front page || titelpagina
***/

@import "../state/animations";
@import "../theme/dist";

.field--name-field-titelpagina-link{

  /*
  block with links/buttons
  */
  .field__item{
    @extend .hvr-sweep-to-right;

    padding: $small; //give some padding
    background-color: rgba(255,255,255,0.5); //white bgc with 50% opacity
    text-align: right;

    /*
    styling of navfooter link
    */
    a{
      font-size: 1rem;
      font-weight: 500;
    }
  }

  /*
  first element has left text-alignment
  child-link has padding-left (alignment)
  */
  .field__item:first-of-type{
    text-align: left;
    @extend .hvr-sweep-to-left;

    border-right: 1px solid rgba(255,255,255,0.6);

    a{
      padding-left: $medium;
    }
  }
}


/***
media queries
***/

@media screen and (min-width: 1024px) {
  /*
  block with links/buttons has max padding
  */
  .field--name-field-titelpagina-link{
    .field__item{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}