/***
components/titles.css
styling of titles
***/

@import "../theme/fonts";
@import "../theme/colors";
@import "../theme/dist";

/*
biggest title
*/
h1,
.field--name-field-titelpagina-ondertitel{
  font-size: 2.8rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}

/*
title on article page + overzichtspagina
is lowercase and lighter font
+ full width for background pattern!
*/
.page-node-type-article,
.page-node-type-overzichtspagina{
  h1{
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: $medium;
    padding-bottom: $medium;
    width: 100%;
    text-align: center;
  }
}

/*
underline class
used for title on homepage
*/
.underline{
  text-decoration: underline;
}

/***
media queries
***/
@media screen and (min-width: 1024px) {
  h1,
  .field--name-field-titelpagina-ondertitel{
    font-size: 5.6rem;
  }

  /*
  title on all other pages is
  lowercase and lighter font
  */
  .page-node-type-article,
  .page-node-type-overzichtspagina,
  .page-node-type-projectpagina{
    h1{
      font-size: 3.2rem;
      /*
      less padding because of bgi
      */
      padding-top: $medium/3;
      padding-bottom: $medium/3;
    }
  }
}
